.top-header{
    padding: 10px;
    border: 1px solid var(--bg-secondary);
    margin-top: 10px;
    box-shadow: var(--box-shadow);
    border-radius: 10px;

    .logo-span{
        color: var(--bg-primary);
    }
}