.product-card{
    padding: 10px;
    border: 1px solid var(--bg-secondary);
    box-shadow: var(--box-shadow);

    .price-row{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}