*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --bg-primary: #FF8901;
  --bg-secondary: #F8F8F8;
  --bg-white: #FFFFFF;
  --bg-black: #000000;

  --box-shadow: 0 0 10px rgba(69, 68, 68, 0.1);;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0;
}

.ant-btn-primary{
  background-color: var(--bg-primary);
}

.ant-btn-primary:hover{
  background-color: #f59a32 !important;
}

.ant-btn-default:hover{
  color: var(--bg-primary) !important;
  border-color: var(--bg-primary) !important;
}


// Global CSS 

@import url("./css/global.scss");
